.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.rn-buttons button span {
  font-size: 20px;
}

.card {
  transition: all 0.4;
}

.card:hover {
  transform: translate(1.05);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  height: 100px;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: bisque;
} */

.main {
  background-color: blueviolet;
}

.App-link {
  color: #61dafb;
}

.spinner {
  background: transparent;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}